<div class="flex items-center gap-2 mb-2" *ngFor="let task of tasks">
    <div
        class="shadow appearance-none border rounded w-full py-2 px-3 text-neutral-700 leading-tight focus:outline-none focus:shadow-outline"
    >
        {{ task }}
    </div>

    <button
        class="bg-neutral-600 hover:bg-neutral-700 text-white font-bold py-2 px-4 rounded"
        (click)="editTask(task)"
    >
        Edit
    </button>

    <button
        class="bg-neutral-600 hover:bg-neutral-700 text-white font-bold py-2 px-4 rounded"
        (click)="editTask(task)"
    >
        Delete
    </button>
</div>
