<!-- <div>
    <input
        type="text"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-l rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Fe: make poop"
        required
    />
</div> -->
<div class="flex items-center justify-center gap-2">
    <input type="text" placeholder="Fe: make poop" #taskInput />
    <button class="bg-white border-black" (click)="onInput(taskInput)">
        Add
    </button>
</div>
