<!-- <div>
    <input
        type="text"
        id="first_name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-l rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Fe: make poop"
        required
    />
</div> -->
<div class="flex items-center justify-center gap-2">
    <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-neutral-700 leading-tight focus:outline-none focus:shadow-outline"
        [(ngModel)]="note"
        type="text"
        placeholder="Enter you task here..."
    />
    <button
        class="bg-neutral-600 hover:bg-neutral-700 text-white font-bold py-2 px-4 rounded"
        type="button"
        (click)="onTaskAdded()"
    >
        Add
    </button>
</div>
